#app { height: 100% }
html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 300px;
  height: 400px;
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  /* margin-left: -150px;
  margin-top: -150px; */
}

.swiper-slide {
  height: 80%;
  width: 400px;
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 400px;
  border-radius: 20px;
  height: 80%;
  box-shadow: rgba(31, 31, 41, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(1, 12, 24, 0.35) 0px -2px 6px 0px inset;
}
